table{
  text-align: center;
  margin-top: 5rem;
  border: 2px solid black;
  border-radius: 1rem;
}

td{
  padding: 0.5rem;
  padding-bottom: 0;
}

hr{
  border: 1px solid black;
  width: 100%;
}

button{
  border: 0;
  border-radius: 0.5rem;
  font-size: 1rem;
}

button:hover{
  color: red;
  box-shadow: 0.5rem black;
  box-shadow: 1px 1px black;
}

.add:hover{
  color: green;
  box-shadow: 1px 1px black;
}

div{
  margin: 0.5rem;
}

option{
  border: 0;
}

select{
  border: 0;
  font-size: 1rem;
  border-radius: 0.5rem;
}

select:hover{
  color: darkblue;
}

input{
  border: 0.2px solid grey;
  border-radius: 0.5rem;
  font-size: 0.7rem;
}

.mod:hover{
  color: darkmagenta;
}

.submit_btn{
  margin-top: 1.2rem;
  font-size: 1rem;
  border: 0!important;
}

.submit_btn:hover{
  color: green;
  box-shadow: 1px 1px black;
}